<!-- <p>pie-chart works!</p> -->
<div class="container my-5">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="box1">Box 1</label>
                    <input type="text" id="box1" class="form-control" formControlName="box1" (blur)="onBlur1()">
                    <small *ngIf="myForm.get('box1').invalid && myForm.get('box1').touched">
                        <span class="form-text text-danger" *ngIf="myForm.get('box1').errors?.['required']">Value is
                            required</span>
                        <span class="form-text text-danger" *ngIf="myForm.get('box1').errors?.['maxNumber']">Incorrect
                            value; 
                            Value should be in between 0 to 100</span>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="box2">Box 2</label>
                    <input type="text" id="box2" class="form-control" formControlName="box2" (blur)="onBlur2()">
                    <small *ngIf="myForm.get('box2').invalid && myForm.get('box2').touched">
                        <span class="form-text text-danger" *ngIf="myForm.get('box2').errors?.['required']">Value is
                            required</span>
                        <span class="form-text text-danger" *ngIf="myForm.get('box2').errors?.['maxNumber']">Incorrect
                            value; 
                            Value should be in between 0 to 100</span>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary createBtn" [disabled]="myForm.invalid">Create chart</button>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-2 d-flex justify-content-center">
            <p-chart type="pie" [data]="data"></p-chart>
        </div>
    </div>
    
</div>